body {
  font-size: large; /* You can adjust the size as needed */
}

/*Navbar*/
.navbar {
  height: 12vh;
  font-size: x-large;
}

.navbar-brand,
.navbar-nav .nav-link {
  font-size: 1.5rem; /* Adjust the font size as needed */
}

/*logout button*/
.big-out {
  font-size: 1.5rem; /* Adjust the font size as needed */
  border: none;
  cursor: pointer;
  outline: none;
}
.big-out:focus,
.big-out:active {
  box-shadow: none;
  background-color: rgb(252, 137, 43);
}

.enbiggen-dropdown-item {
  font-size: 1.5rem; /* Adjust the font size for dropdown items as needed */
}

/*Proposals Table and Rows*/
.proposal-table {
  margin-top: 20px; /* Adjust as needed */
  padding: 20px; /* Increase padding */
}

.proposal-thead {
  text-align: center;
  vertical-align: middle;
}

.proposal-row {
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; /* Adjust as needed */
  padding: 10px;
  background-color: azure;
}

/*Applications Table and Rows*/
.application-table {
  margin-top: 20px; /* Adjust as needed */
  padding: 20px; /* Increase padding */
}

.application-row {
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; /* Adjust as needed */
  padding: 10px;
  background-color: azure;
}

.evaluate-button{
  color: white;
  font-size: large;
}

.application-info {
  font-size: 20px;
}

.title {
  font-weight: bold;
}

.student {
  font-weight: bold;
}

.accept-button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  margin-right: 15px;
  transform: scale(1.1);
  float: right;
}

.decline-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  margin-right: 15px;
  transform: scale(1.1);
  float: right;
}

.apply-button{
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  margin-right: 15px;
  transform: scale(1.1);
  float: right;
}
.place-holder-style {
  font-style:italic;
  width: 50vw;
  border: 1.5px solid;
}

.text-danger {
  color: rgb(132, 15, 15) !important;
}