body {
  font-size: large; /* You can adjust the size as needed */
}

/*Navbar*/
.navbar {
  height: 8%;
  font-size: x-large;
  box-shadow: 5px 6px 8px #888888;
}

.navbar-brand,
.navbar-nav .nav-link {
  font-size: 2rem; /* Adjust the font size as needed */
}

/*logout button*/
.enbiggen-logout-button {
  font-size: 1.5rem; /* Adjust the font size for dropdown items as needed */
}
.enbiggen-logout-button:hover {
  background-color: rgb(236, 90, 90); /* Adjust the font size for dropdown items as needed */
}

/*Proposals Table and Rows*/
.proposal-table {
  margin-top: 20px; /* Adjust as needed */
  padding: 20px; /* Increase padding */
}

.proposal-thead {
  text-align: center;
  vertical-align: middle;
}

.proposal-row {
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; /* Adjust as needed */
  padding: 10px;
  background-color: azure;
}

/*Applications Table and Rows*/
.application-table {
  margin-top: 20px; /* Adjust as needed */
  padding: 20px; /* Increase padding */
}

.table-danger{
  --bs-table-bg: rgb(236, 90, 90);
}
.table-danger td {
  color: white;
}
.table-danger td button *{
  color: white;
}
.table-success{
  --bs-table-bg: rgb(88, 195, 88);
}
.table-success td {
  color: white;
}
.table-success td button *{
  color: white;
}
.table-warning{
  --bs-table-bg: rgb(237, 164, 47);
}
.table-warning td{
  color: white;
}
.table-warning td button *{
  color: white;
}
.table-default td button *{
  color: white;
}

.application-row {
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; /* Adjust as needed */
  padding: 10px;
  background-color: azure;
}

.evaluate-button{
  color: white;
  font-size: large;
}

.application-info {
  font-size: 20px;
}

.title {
  font-weight: bold;
}

.student {
  font-weight: bold;
}

.accept-button {
  background-color: #449d44;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  margin-right: 15px;
  transform: scale(1.1);
  float: right;
}

.decline-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  margin-right: 15px;
  transform: scale(1.1);
  float: right;
}

.copy-button {
  background-color: #449d44;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  margin-left: 15px;
  transform: scale(1.1);
  float: left;
}

.apply-button{
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  margin-right: 15px;
  transform: scale(1.1);
  float: right;
}

.archive-button{
  background-color: #003576;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 15px;
  transform: scale(1.1);
  float: right;
}

.place-holder-style {
  font-style:italic;
  width: 50vw;
  border: 1.5px solid;
}

.text-danger {
  color: rgb(132, 15, 15) !important;
}

.centered-message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px; /* adjust this value as needed */
}

.proposal-container {
  background-color: rgb(252, 137, 43);
  padding: 25px;
  border-radius: 10px;
  margin-top: 10px; 
  margin-bottom: 10px;
}

.proposal-show-field {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px; /* Adjust the border-radius as needed */
  padding-top: 10px; /* Adjust the padding as needed */
  margin: 10px; /* Adjust the margin-bottom as needed */
}